+ [Home](/)
${if(readme)}+ [README](${if(relroot)}${relroot}${endif}${readme})${endif}
${if(license)}+ [LICENSE](${if(relroot)}${relroot}${endif}${license})${endif}
${if(install)}+ [INSTALL](${if(relroot)}${relroot}${endif}${install})${endif}
${if(docs)}+ [Documentation](${if(relroot)}${relroot}${endif}${docs})${endif}
${if(howto)}+ [How To](${if(relroot)}${relroot}${endif}${howto})${endif}
${if(usermanual)}+ [User Manual](${if(relroot)}${relroot}${endif}${usermanual})${endif}
${if(about)}+ [About](${if(relroot)}${relroot}${endif}${about})${endif}
${if(gitrepo)}+ [Github](${gitrepo})${endif}
