{{- $relroot := .relroot -}}
+ [Home](/)
{{- with .readme }}
+ [README]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .docs }}
+ [Documentation]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .howto }}
+ [How To]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .install }}
+ [Installation]({{- $relroot -}}{{- . -}}){{- end }}
{{- with .gitrepo }}
+ [Github]({{- . -}}){{- end }}
